@import ./../../core/styles/themes
@import ./../../core/styles/animation
@import ./../../core/styles/medias

.container
  width: 100%
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  background: $color-neutral-primary
  animation: fadeIn 1s ease-in
  overflow: scroll

  @include desktop()
    width: 100%
    height: 100%

  @include largeDesktop()
    width: 100%
    height: 100%


  .box
    width: 65%
    height: 85%
    border-radius: 8px
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08)
    display: flex
    flex-direction: row

    @include galaxyFold()
      display: flex
      flex-direction: column-reverse
      width: 100%
      height: 1300px

    @include iphoneSize()
      display: flex
      flex-direction: column-reverse
      width: 100%
      height: 1200px

    @include surfaceSize()
      display: flex
      flex-direction: column-reverse
      width: 100%
      height: 1200px

    @include ipadSize()
      display: flex
      flex-direction: column-reverse
      width: 100%
      height: 1200px

    @include desktop()
      width: 95%
      height: 90%

    @include largeDesktop()
      width: 95%
      height: 90%


    .background-image
      width: 60%
      height: 100%
      background: url('/assets/images/bg1-teste.png') no-repeat center center
      background-size: cover
      border-top-left-radius: 8px
      border-bottom-left-radius: 8px

      @include galaxyFold()
        width: 100%
        height: 890px
        border-top-left-radius: 0px
        border-bottom-left-radius: 0px
        border-top-right-radius: 0px
        background: url('/assets/images/background-mobile.svg') no-repeat center center
        background-size: cover

      @include iphoneSize()
        width: 100%
        height: 890px
        border-top-left-radius: 0px
        border-bottom-left-radius: 0px
        border-top-right-radius: 0px
        background: url('/assets/images/background-mobile.svg') no-repeat center center
        background-size: cover

      @include ipadSize()
        width: 100%
        height: 890px
        border-top-left-radius: 0px
        border-bottom-left-radius: 0px
        border-top-right-radius: 0px
        background: url('/assets/images/background-mobile.svg') no-repeat center center
        background-size: cover
        background-position-y: -150px

      @include surfaceSize()
        width: 100%
        height: 890px
        border-top-left-radius: 0px
        border-bottom-left-radius: 0px
        border-top-right-radius: 0px
        background: url('/assets/images/background-mobile.svg') no-repeat center center
        background-size: cover

      @include desktop()
        width: 55%
        background-position: auto
        background-size: cover
        background: url('/assets/images/bg1-teste.png') no-repeat center center
        background-size: cover

    form
      width: 45%
      height: 100%
      background-color: #fff
      border: none
      border-top-right-radius: 8px
      border-bottom-right-radius: 8px
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08)
      display: flex
      flex-direction: column
      align-items: center
      padding-top: 5%
      box-sizing: border-box

      @include galaxyFold()
        width: 100%
        height: 40%
        border-top-right-radius: 0px
        border-bottom-right-radius: 0px
        border-bottom-left-radius: 0px
        padding-top: 4%

      @include iphoneSize()
        width: 100%
        height: 890px
        border-top-right-radius: 0px
        border-bottom-right-radius: 0px
        border-bottom-left-radius: 0px
        padding-top: 12%

      @include surfaceSize()
        width: 100%
        height: 890px
        border-top-right-radius: 0px
        border-bottom-right-radius: 0px
        border-bottom-left-radius: 0px
        padding-top: 3%


      @include ipadSize()
        width: 100%
        height: 890px
        border-top-right-radius: 0px
        border-bottom-right-radius: 0px
        border-bottom-left-radius: 0px

      @include desktop()
        width: 45%
        padding-top: 3%

      img
        width: 20%

        @include galaxyFold()
          width: 25%

        @include iphoneSize()
          width: 25%
          margin-bottom: 5%

        @include surfaceSize()
          width: 25%
          margin-top: 5%

        @include ipadSize()
          width: 15%

      .inputs
        width: 85%
        height: 35%
        display: flex
        flex-direction: column
        justify-content: space-between
        margin-top: 10%

        @include galaxyFold()
          width: 90%
          margin-top: 50px
          margin-top: 6%

        @include iphoneSize()
          width: 80%
          margin-top: 4%

        @include surfaceSize()
          width: 80%
          margin-top: 50px
          margin-top: 5%

        @include ipadSize()
          width: 50%
          margin-top: 50px
          margin-top: 2%

        @include desktop()
          margin-top: 5%

        @include largeDesktop()
          margin-top: 4%
          height: 30%

      .buttons
        width: 80%
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin-top: 10%

        @include galaxyFold()
          width: 90%
          margin-top: 35%

        @include iphoneSize()
          width: 80%
          margin-top: 35%

        @include surfaceSize()
          width: 80%
          margin-top: 5%

        @include ipadSize()
          width: 50%
          margin-top: 4%

        .access, .register
          width: 45%
          height: 32px
          border-radius: 8px
          border: none
          cursor: pointer
          color: $color-white
          font-size: 14px

          &:disabled
            background-color: $color-disabled
            color: $color-neutral-secondary

        .access:hover
          opacity: .9

        .access
          background-color: $color-primary

        .register
          color: $color-primary
          background-color: $color-white
          font-weight: 500

        .register:hover
          box-shadow: 0 1px 1px 2px $color-neutral-primary
