@import ./../../core/styles/themes
@import ./../../core/styles/animation

.container
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  background-color: $color-neutral-primary

  .box
    width: 65%
    height: 75%
    border-radius: 8px
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08)
    display: flex
    flex-direction: row
    animation: fadeIn .7s ease-in

    .background-image
      width: 65%
      height: 100%
      background: url('/assets/images/bg1-teste.png') no-repeat center center
      background-size: cover
      border-top-left-radius: 8px
      border-bottom-left-radius: 8px

    form
      width: 45%
      height: 100%
      background-color: #fff
      border: none
      border-top-right-radius: 8px
      border-bottom-right-radius: 8px
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08)
      display: flex
      flex-direction: column
      align-items: center

      img
        width: 40%
        margin-top: 2%

      .inputs
        width: 80%
        height: 38%
        display: flex
        flex-direction: column
        justify-content: space-around
        margin-top: 8%

        input
          width: 97%
          height: 20%
          border: 2px solid $color-neutral-primary

        textarea:focus, input:focus
          outline: none
          box-shadow: 4px 4px 4px $color-primary
          border-color: $color-primary

      .buttons
        width: 80%
        height: 18%
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

        .access, .register
          width: 47%
          height: 32px
          border-radius: 8px
          border: none
          cursor: pointer

          &:disabled
            background-color: $color-disabled
            color: $color-neutral-secondary
            cursor: not-allowed

        .access:hover
          opacity: .8

        .access
          background-color: $color-primary
          color: $color-white

        .register
          color: $color-primary
          background-color: $color-white
          font-weight: 500

        .register:hover
          box-shadow: 0 1px 1px 2px $color-neutral-primary
