<div class="container">
  <div class="background-image">

  </div>
  <form action="#">
    <img src="assets/images/logos/logo-financist.svg" alt="">
    <div class="inputs">
      <app-input type="email" placeholder="Email"></app-input>
      <app-input type="email" placeholder="Confirme sua email"></app-input>
      <app-input type="password" placeholder="Senha"></app-input>
      <app-input type="password" placeholder="Confirme sua senha"></app-input>
    </div>

    <div class="buttons">
      <button class="access -button" [disabled]="!isDisabled">Acessar</button>
      <button class="register -button">Cancelar</button>
    </div>
  </form>
</div>
