@import ./../../core/styles/themes
@import ./../../core/styles/scrollbar

.container
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  background-color: $color-neutral-primary

  header
    width: 20%
    height: 100%

  main
    width: 80%
    height: 100%
    display: flex
    flex-direction: column

    .content
      padding: 2%
      box-sizing: border-box

    .options
      display: flex
      flex-direction: column

