@import ./themes


.scrollbar
  overflow-y: scroll

.scrollbar::-webkit-scrollbar
  width: 10px

.scrollbar::-webkit-scrollbar-thumb
  background-color: #0064A9
  border-radius: 50px

.scrollbar::-webkit-scrollbar-thumb:hover
  background: #035790

.scrollbar::-webkit-scrollbar-track
    background: #FFFFFF
    border-radius: 50px
    border: 1px solid #C4C4C4
