$color-primary: #0B6E4F
$color-secondary: #2d3142
$color-neutral-primary: #E9E9E9
$color-neutral-secondary: #f8f8f8
$color-alert-primary:#FFA400
$color-dark: #191919
$color-disabled: #EAF6FF
$color-filter-primary: invert(28%) sepia(38%) saturate(1108%) hue-rotate(114deg) brightness(102%) contrast(91%)


