$color-primary: #015249
$color-primary-dark: #013a33
$color-primary-light: #028575
$color-primary-rgba: rgba(1, 82, 73, .1)
$color-secondary:#77c9d4
$color-tertiary: #57bc90
$color-tertiary-dark: #2f976a
$color-feedback-sucess: #1BD273
$color-feedback-error:#ff6c6c
$color-black: #1f1f1f
$color-neutral-primary: #E5E5E5
$color-neutral-secondary: #787878
$color-white: #FFF
$color-disabled: #EAF6FF

/*************************************************************************************************/


$color-filter-primary: invert(24%) sepia(45%) saturate(1435%) hue-rotate(135deg) brightness(87%) contrast(102%)
$color-filter-secondary: invert(94%) sepia(85%) saturate(1928%) hue-rotate(159deg) brightness(88%) contrast(85%)
$color-filter-white: grayscale(100%) brightness(110%) contrast(0.9)
$color-filter-white: brightness(0) saturate(100%) invert(80%) sepia(57%) saturate(2089%) hue-rotate(359deg) brightness(105%) contrast(104%)
$color-filter-yellow: invert(100%) sepia(40%) saturate(2%) hue-rotate(256deg) brightness(114%) contrast(100%)


