<div class="container" *ngIf="true">
  <header>
    <app-left-bar></app-left-bar>
  </header>
  <main>
    <app-top-bar></app-top-bar>
    <div class="content scrollbar">
      <div class="options">
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
        <a [routerLink]="'/fixed-account'">Contas fixas</a>
        <a [routerLink]="'/varied-account'">Contas variáveis</a>
        <a [routerLink]="'/home'">Início</a>
      </div>
    </div>
  </main>
</div>
