@import ./../../core/styles/themes

.container
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  background: $color-white
  box-sizing: border-box
  padding: 0 5% 0 0%
  color: $color-primary

  .menu
    position: relative
    width: 40px
    height: 40px
    border-radius: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    box-sizing: border-box
    cursor: pointer
    background: $color-primary

    img
      cursor: pointer

  .box-goal
    width: 50%
    height: 80%
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center

    .card
      width: 40%
      height: 65%
      display: flex
      flex-direction: column
      justify-content: space-around
      align-items: center
      border-radius: 4px
      // box-shadow: 0 14px 21px 0 rgb(0, 0, 0, 6%)

      span
        font-weight: 600
        font-size: 14px

      span:nth-child(1)
        color:$color-dark

      .meta
        color: $color-green-basic

      .gastos
        color: $color-alert-primary

  .profile
    width: 20%
    height: 80%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

    span
      font-size: 14px
      font-weight: 600
      color: $color-dark

    .boas-vindas
      width: 80%
      height: 70%
      display: flex
      flex-direction: row
      align-items: center

      .texts
        height: 60%
        width: 90%
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: start
        // text-overflow: ellipsis
        span
          font-size: 12px


      img
        width: 18%
        margin-left: 10%

    .button-dropdown
      cursor: pointer
      width: 5%
      padding: 10px 0



