<div class="container">
  <div class="menu" (click)="toggleLeftBar()" [style.left]="leftPosition">
    <img [src]="iconStateLeftBar" alt="">
  </div>
  <div class="box-goal">
    <span>Meta de gastos mensais: {{data?.meta | currency: "BRL"}}</span>
    <circle-progress-bar></circle-progress-bar>
  </div>
  <div class="profile">
    <span>{{data?.name}}</span>
    <div class="card-image">
      <img [src]="icon" alt="">
    </div>
    <img src="assets/images/icons/arrow-down.svg" alt="" class="button-dropdown">
  </div>
</div>
