<div class="container">
  <div class="menu" (click)="toggleLeftBar()" [style.left]="leftPosition">
    <img [src]="iconStateLeftBar" alt="">
  </div>
  <div class="box-goal">
    <div class="card">
      <span>Meta de gasto mensal: </span>
      <span class="meta">{{data?.meta | currency: "BRL"}}</span>
    </div>

    <div class="card">
      <span>Gasto atual: </span>
      <span class="gastos">{{data?.gastoMensal | currency: "BRL"}}</span>
    </div>

    <!-- <circle-progress-bar></circle-progress-bar> -->
  </div>
  <div class="profile">
    <div class="boas-vindas">
      <div class="texts">
        <span>{{frase}}</span>
        <span class="name">{{username}}</span>
      </div>
      <img [src]="icon()" alt="" class="icon">
    </div>
    <dropdown horizontalAlign="left">
      <div action-dropdown class="box-icon">
        <img src="assets/images/icons/arrow-down.svg" alt="" class="button-dropdown" style="width: 14px;">
      </div>
      <div class="dropdown-container" dropdown-container>

      </div>
    </dropdown>
  </div>
</div>
