<div class="container">
  <div class="menu" (click)="toggleLeftBar()" [style.left]="leftPosition">
    <img [src]="iconStateLeftBar" alt="">
  </div>
  <div class="box-goal">
    <div class="card">
      <span>Meta de gasto mensal: </span>
      <span class="meta">{{data?.meta | currency: "BRL"}}</span>
    </div>

    <div class="card">
      <span>Gasto atual: </span>
      <span class="gastos">{{data?.gastoMensal | currency: "BRL"}}</span>
    </div>

    <!-- <circle-progress-bar></circle-progress-bar> -->
  </div>
  <div class="profile">
    <div class="boas-vindas">
      <div class="texts">
        <span>{{frase}}</span>
        <span class="name">{{username}}</span>
      </div>
      <img [src]="icon()" alt="" class="icon">
    </div>
    <dropdown horizontalAlign="left" (click)="rotateIcon()">
      <div action-dropdown class="box-icon" #iconDropdown>
        <img src="assets/images/icons/arrow-down.svg" alt="" class="button-dropdown">
      </div>
      <div class="dropdown-container" dropdown-container>
        <div class="box-avatar">
          <div class="avatar">
            <h1 class="name">GC</h1>
          </div>
        </div>
        <div class="line"></div>
        <div class="options">
          <cards pathIcon="assets/images/icons/dashboard.svg" name="Editar perfil" [routerLink]="'/profile'"></cards>
          <cards pathIcon="assets/images/icons/dashboard.svg" name="Editar perfil" [routerLink]="'/teste'"></cards>
          <cards pathIcon="assets/images/icons/dashboard.svg" name="Editar perfil" [routerLink]="'/teste'"></cards>
        </div>
        <div class="line"></div>
        <div class="logout">
          <cards pathIcon="assets/images/icons/logout.svg" name="Sair" (click)="logout()"></cards>
        </div>
      </div>
    </dropdown>
  </div>
</div>
