<button [disabled]="disabled" class="button" [ngClass]="tema" (click)="disparaAcao()">
  <ng-container *ngIf="carregando else conteudoBotao">
    <!-- <load-solid [visivel]="true" tipo="solido" tamanho="load-xs-pequeno" class="load">
    </load-solid> -->
  </ng-container>

  <ng-template #conteudoBotao>
    <div [class]="classContainer">
      <img [src]="pathIcon" alt="" *ngIf="stateIcon" class="icon">
      <div class="content">
        <ng-content></ng-content>
      </div>
    </div>
  </ng-template>
</button>
