@import ./../../core/styles/themes

.button
  cursor: pointer
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  transition: 0.1s
  width: 120px
  height: 32px
  border: none
  border-radius: 4px

.container
  width: 100%
  height: 100%
  padding: 8px 16px
  display: flex
  justify-content: center
  align-items: center

.content
  font-size: 12px


.exibe-em-bloco
  width: 100%

.botao-primario
  color: $color-white
  background-color: $color-primary

  &:hover
    background-color: $color-primary-dark

  &:focus
    background-color: $color-primary
    box-shadow: 0px 0px 4px $color-primary

  &:disabled
    background-color: $color-neutral-primary
    color: $color-black
    cursor: not-allowed

.botao-secundario
  background-color: transparent
  // border: 1px solid $color-primary
  color: $color-primary

  &:hover
    background-color: $color-secondary
    color: $color-white
    // border: 1px solid $color-primary
    box-sizing: border-box

  &:focus
    color: $color-primary-light
    box-shadow: 0px 0px 4px $color-primary

  &:disabled
    background-color: $color-secondary
    color: $color-white
    border: 1px solid $color-secondary


.botao-terciario
  background-color: transparent
  color: $color-primary

  &:hover
    // background-color: $color-primary-light

  &:focus
    // background-color: $color-white
    color: $color-primary
    // box-shadow: 0px 0px 4px $color-primary-dark

  &:disabled
    color: $color-secondary

.only-icon
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center

.load
  text-align: center

.notification
  -moz-animation: glowing 2000ms infinite
  animation: glowing 2000ms infinite

// @-moz-keyframes glowing
//   0%
//     -moz-box-shadow: 0 0 3px $color-white, 100%
//   25%
//     -moz-box-shadow: 0 0 5px $color-feedback-medium-error, 50%
//   50%
//     -moz-box-shadow: 0 0 10px $color-feedback-medium-error
//   75%
//     -moz-box-shadow: 0 0 5px $color-feedback-medium-error, 50%
//   100%
//     -moz-box-shadow: 0 0 3px $color-white, 100%

// @keyframes glowing
//   0%
//     box-shadow: 0 0 3px $color-white, 100%
//   25%
//     box-shadow: 0 0 5px $color-feedback-medium-error, 50%
//   50%
//     box-shadow: 0 0 10px $color-feedback-medium-error
//   75%
//     box-shadow: 0 0 5px $color-feedback-medium-error, 50%
//   100%
//     box-shadow: 0 0 3px $color-white, 100%
