@import ./../../core/styles/themes
@import ./../../core/styles/scrollbar

.container
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  box-sizing: border-box
  background: $color-white

  .left-bar
    width: 18%
    height: 100%

  main
    width: 100%
    height: 100%
    display: flex
    flex-direction: column

    .top-bar
      width: 100%
      height: 15%

    .content
      width: 100%
      height: 85%
      padding: 16px
      box-sizing: border-box

      .box-content
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-evenly
        border-radius: 8px
        margin-top: 5%

        .cards
          width: 18%
          height: 80px
          display: flex
          flex-direction: column
          justify-content: space-around
          border-right: 1px solid #DDDDDD

          .numbers
            width: 100%

            span
              font-size: 24px
              font-weight: 700
              color: $color-primary

          .indicators
            width: 100%
            height: 50%
            display: flex
            flex-direction: row
            align-items: flex-start
            justify-content: flex-start

            .text
              height: 100%
              display: flex
              flex-direction: column
              justify-content: space-around

              span
                font-size: 14px
                font-weight: 400
                color: #8E8E8E

              .info
                display: flex
                flex-direction: row
                width: 100%

                span
                  font-size: 10px
                  color: #a3a3a3

                img
                  margin-left: 5%

        .cards:nth-child(4)
          width: 22%
          border-right: none

      .box-graphics
        display: flex
        flex-direction: row
        width: 100%
        margin-top: 5%

        .graphic
          width: 45%
          height: 290px
          border-radius: 8px
          display: flex
          flex-direction: row
          justify-content: center
          padding-left: 3%
          box-sizing: border-box

          img
            padding: 20px

        .graphic:nth-child(2)
          margin-left: 5%



