<div class="container">
  <app-left-bar></app-left-bar>
<main>
  <div class="top-bar">
    <app-top-bar></app-top-bar>
  </div>
  <div class="content scrollbar">
    <div class="box-content">
      <div class="search-for-date">
        <div class="box-date-search">
          <label for="search-date">Filtrar por mês: </label>
          <input type="date">
        </div>
      </div>
      <!-- <div class="box-table">
        <div>Nome da compra</div>
        <div>Data da compra</div>
        <div>Categoria</div>
        <div>Tipo da compra</div>
        <div>Valor</div>
        <div>Parcela</div>

      </div> -->
      <table>
        <tr class="first-tr">
          <th>Nome da compra</th>
          <th>Data</th>
          <th>Valor</th>
          <th colspan="2">Tipo da compra</th>
          <th>Parcela Atual</th>
          <th>Parcelas</th>
          <th>Categoria</th>
          <th>Data de pagamento</th>
        </tr>
        <ng-container *ngFor="let item of data; let odd = odd; let even = even">
          <tr [class.odd]="odd" [class.even]="even">
            <td>{{item.nome}}</td>
            <td>{{item.dataCompra}}</td>
            <td>{{item.valor | currency: 'BRL'}}</td>
            <td colspan="2">{{item.tipoCompra}}</td>
            <td>{{item.parcelaAtual}}</td>
            <td>{{item.qtdParcelas}}</td>
            <td>{{item.categoria}}</td>
            <td>{{item.dataPagamento}}</td>
          </tr>
        </ng-container>


      </table>
    </div>
  </div>
</main>
</div>
