<div class="container">
  <div class="box">
    <div class="background-image"></div>
    <form>
      <img src="assets/images/logos/logo-teste.svg" alt="">
      <div class="inputs">
        <app-input type="email" placeholder="Email" [(ngModel)]="user.email" name="email" ngDefaultControl></app-input>
        <app-input type="password" placeholder="Senha" [(ngModel)]="user.password" name="senha" ngDefaultControl></app-input>
      </div>
      <div class="buttons">
        <btn tipo="primary" [disabled]="isDisabled" (click)="submit()">Acessar</btn>
        <btn tipo="tertiary" [routerLink]="'/register'">Cadastre-se</btn>
      </div>
      <div class="login-social-media">
        <btn
          pathIcon="assets/images/icons/google.svg"
          [onlyIcon]="true"
          >
        </btn>
        <btn
          pathIcon="assets/images/icons/twitter.svg"
          [onlyIcon]="true"
          >
        </btn>
        <btn
          pathIcon="assets/images/icons/facebook.svg"
          [onlyIcon]="true"
          >
        </btn>
      </div>
    </form>
  </div>
</div>
<app-modal *ngIf="statusModal"></app-modal>
