<div class="container">

    <app-left-bar></app-left-bar>

  <main>
    <div class="top-bar">
      <app-top-bar></app-top-bar>
    </div>
    <div class="content scrollbar">
      <div class="box-content">
        <div class="cards">
          <div class="numbers">
            <span>R$ 2.546,76</span>
          </div>
          <div class="indicators">
            <span>Gastos totais</span>
            <img src="assets/images/icons/up.svg" alt="">
          </div>
        </div>

        <div class="cards">
          <div class="numbers">
            <span>R$ 1.246,88</span>
          </div>
          <div class="indicators">
            <span>Despesas variáveis</span>
            <img src="assets/images/icons/down.svg" alt="">
          </div>
        </div>

        <div class="cards">
          <div class="numbers">
            <span>R$ 2.546,76</span>
          </div>
          <div class="indicators">
            <span>Gastos totais</span>
            <img src="assets/images/icons/up.svg" alt="">
          </div>
        </div>

        <div class="cards">
          <div class="numbers">
            <span>R$ 2.546,76</span>
          </div>
          <div class="indicators">
            <span>Gastos totais</span>
            <img src="assets/images/icons/up.svg" alt="">
          </div>
        </div>

      </div>
      <div class="box-graphics">
        <div class="graphic">
          <img src="assets/images/icons/chart.svg" alt="" width="100%">
        </div>
        <div class="graphic">
          <img src="assets/images/icons/chart.svg" alt="" width="100%">
        </div>
      </div>
    </div>
  </main>
</div>
