<div class="container">

    <app-left-bar></app-left-bar>

  <main>
    <div class="top-bar">
      <app-top-bar></app-top-bar>
    </div>
    <div class="content scrollbar">
      <div class="box-content">
        <div class="cards">
          <div class="numbers">
            <span>R$ 2.546,76</span>
          </div>
          <div class="indicators">
            <div class="text">
              <span>Contas fixas</span>
              <div class="info">
                <span>Mês: Abril</span>
                <!-- <img src="assets/images/icons/up.svg" alt=""> -->
              </div>
            </div>
          </div>
        </div>

        <div class="cards">
          <div class="numbers">
            <span>R$ 3.374,12</span>
          </div>
          <div class="indicators">
            <div class="text">
              <span>Contas variáveis</span>
              <div class="info">
                <span>Mês: Abril</span>
                <img src="assets/images/icons/up.svg" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="cards">
          <div class="numbers">
            <span>R$ 6.874,34</span>
          </div>
          <div class="indicators">
            <div class="text">
              <span>Acumulado contas fixas</span>
              <div class="info">
                <span>Período: janeiro-abril</span>
                <!-- <img src="assets/images/icons/down.svg" alt=""> -->
              </div>
            </div>
          </div>
        </div>

        <div class="cards">
          <div class="numbers">
            <span>R$ 7.612,81</span>
          </div>
          <div class="indicators">
            <div class="text">
              <span>Acumulado contas variáveis</span>
              <div class="info">
                <span>Período: janeiro-abril</span>
                <img src="assets/images/icons/down.svg" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="box-graphics">
        <div class="graphic">
          <img src="assets/images/icons/chart.svg" alt="" width="100%">
        </div>
        <div class="graphic">
          <img src="assets/images/icons/chart.svg" alt="" width="100%">
        </div>
      </div>
      <div class="box-graphics">
        <div class="graphic">
          <img src="assets/images/icons/chart.svg" alt="" width="100%">
        </div>
        <div class="graphic">
          <img src="assets/images/icons/chart.svg" alt="" width="100%">
        </div>
      </div>
    </div>
  </main>
</div>
