<div class="container">
  <div id="clouds">
    <img src="assets/images/icons/cloud.svg" alt="" class="cloud c1">
    <img src="assets/images/icons/cloud.svg" alt="" class="cloud c2">
    <img src="assets/images/icons/cloud.svg" alt="" class="cloud c3">
    <img src="assets/images/icons/cloud.svg" alt="" class="cloud c4">
    <img src="assets/images/icons/cloud.svg" alt="" class="cloud c5">
    <img src="assets/images/icons/cloud.svg" alt="" class="cloud c6">
  </div>
  <div class='box'>
      <div class='_404'>{{error | uppercase}}</div>
      <div class="line">
        <hr>
        <div></div>
        <hr>
      </div>
      <span class='__the-page'>THE PAGE</span>
      <div class='__not-found'>was nout found</div>
      <a class='btn' [routerLink]="'/login'">BACK TO LOGIN</a>
  </div>
</div>
